docker.enabled = false
singularity.enabled = true
singularity.autoMounts = true

process {
   executor='slurm'
   queueSize = 15
   pollInterval = '5 min'
   dumpInterval = '6 min'
   queueStatInterval = '5 min'
   exitReadTimeout = '13 min'
   killBatchSize = 30
   submitRateLimit = '20 min'
   queue = 'standard'
   time = '00:30:00'
   clusterOptions = '-A hpc_build'
}

