// Parameters for CloudOS
// To use add only the flag:
// --config conf/cloudos.config

params {
    mass_spec = 's3://sheynkman-lab-lifebit/Sample-Data/JURKAT/mass_spec'
    orf_fasta = 's3://sheynkman-lab-lifebit/deploit/users/5fa6c3c061aba10112169d7d/projects/602eb362e9e4e10112f0dd63/jobs/6047680439924a0112f92f9a/results/results/refined_database/jurkat_orf_refined.fasta'
    orf_meta = 's3://sheynkman-lab-lifebit/deploit/users/5fa6c3c061aba10112169d7d/projects/602eb362e9e4e10112f0dd63/jobs/6047680439924a0112f92f9a/results/results/refined_database/jurkat_orf_refined.tsv'
    rr_toml = 's3://sheynkman-lab-lifebit/Reference/Task1SearchTaskconfig_orf.toml'
    max_cpus = 64
    name = 'jurkat'
    protein_coding_only = true
    
}